.container {
  height: 100vh;
  box-sizing: border-box;
  padding: 20px;
  background-color: rgb(41, 41, 41);
}

.form {
  display: flex;
  flex-direction: column;
  max-width: 400px;
}

input {
  padding: 5px 5px;
  margin-bottom: 5px;
}

button {
  margin-top: 20px;
}
label {
  color: antiquewhite;
}
